	
.pianoroll-box {
    position: relative;
    padding-left: 2%;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pianoroll-box input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.indicator-box {
    cursor: default;
}

.pianoroll-box-check {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 45px;
    background-color: whitesmoke;
}
			
.indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 45px;
    background-color: white;
}

.pianoroll-box:hover input ~ .pianoroll-box-check {
    background-color: #ccc;
}

.pianoroll-box:hover input ~ .indicator {
    background-color: white;
}

.pianoroll-box input:checked ~ .pianoroll-box-check {
    background-color: #2196F3;
}

.pianoroll-box input:checked ~ .indicator {
    background: url('./arrow.png');
    background-size: 45px 25px;
}
			
.pianoroll-box-check:after {
    display: none;
}

.pianoroll-box .pianoroll-box-check:after {
	display: none;
}

button
{
	cursor: pointer;
}

.playback_controls
{
	color: #cccccc;
	font-size: 150%;
}

.playback_controls button
{	
	width: 6%;
	height: 3%;
	border: none;
	font-size: 100%;
	color: #cccccc;
	background-color: #404040;
}

.speed_controls
{
	display: block;
	float: right;
	color: #cccccc;
	font-size: 150%;
}

.speed_controls button
{	
	width: 20%;
	height: 3%;
	border: none;
	font-size: 100%;
	color: #cccccc;
	background-color: #404040;
}

/*szczałki w input=number*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number]
{
	-moz-appearance: textfield;
	width: 20%;
	height: 3%;
	color: #cccccc;
	background-color: #404040;
	border: none;
	font-size: 100%;
	text-align: center;
}

p
{
	font-size: 150%;
	color: #cccccc;
}

#main_play_button
{
	position: absolute;
	right: 5%;
	width: 10%;
	height: 5%;
	border: none;
	background-color: #404040;
	color: #cccccc;
	font-size: 200%;
}